@media screen and (max-width: 500px) {
  .navbar-collapse {
    background-color: white;
    margin-top: 17px;
  }
  .navbar-light .navbar-nav .nav-link,
  .nav-icon a {
    color: rgb(0, 0, 0);
  }
  #Content p {
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 991px) {
  .navbar-collapse {
    background-color: white;
    margin-top: 20px;
  }
  .navbar-light .navbar-nav .nav-link,
  .nav-icon a {
    color: rgb(0, 0, 0);
  }
  #Content p {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width:1199px) {
  #Content p {
    width: 100%;
  }
}
@media screen and (min-width:1200px) {
    #Content p {
        width: 50%;
      }
    
}

/* @media only screen and (min-width:375px) and (max-width:667px) {
  nav .nav-item .nav-link {
    margin-top: 0px;
    padding-top: 0px;
  }
  .navbar-collapse {
  padding: 20px;
  }
}  */
